*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.banner{
    background-image: url("images/banner/banner3.png");
    height: 808px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-box{
    width: 525px;
    text-align: right;
}
.banner-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}
.banner-text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
}
.btn-primary{
    width: 160px;
    height: 64px;
}