* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.banner {
    background-image: url("images/banner/banner3.png");
    height: 808px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 130px;
    background-size:cover;
}

.banner-box {
    width: 525px;
    text-align: right;
}

.banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
}

/* main styles */
/* section failure styles */
.failure {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 87px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 130px;
}

.failure h3 {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}

.failure p {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.failure li {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* section plan styles */
.plans {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
    text-align: center;
}

.plans .title {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}

.plans h3 {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.plans h4 {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 24px;
    margin-bottom: 18px;
}

.plans p {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
}

/* ads area */
.ads {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
    /* background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%); */
    background-image: url("images/gradient1.png"), url("images/watch.png");
}

.ads-item {
    padding: 60px;
}

.ads h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    width: 459px;
    margin-bottom: 24px;
}

/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background:#80a2f8;
    padding: 130px 150px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.contact a{
    text-decoration: none;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px;
}

/* footer styles */
footer {
    background: #151414;
    color: #F8F8F8;
}

.footer {
    display: flex;
    gap: 330px;
    justify-content: space-around;
    padding: 130px 230px;
}

.future h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 16px;
}

.future p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.future a {
    text-decoration: none;
    margin-right: 15px;
}

.subscribe h3 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 31px;
}

.subscribe .txt{
    color: #F3F3F3;
    font-size: 18px;
    width: 100%;
    background-color: #151414;
    border: 1px solid white;
    padding: 18px 30px;
    border-radius: 8px;
}
.subscribe .btn{
    color: #F3F3F3;
    font-size: 18px;
    /* width: 100%; */
    padding: 18px 30px;
    background: #005FAC;
    border-radius: 8px;
    margin-top: 16px;
}